--extra-index-url https://pytorch.org

fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.38.0
python-dotenv==1.0.1
pydantic-settings==2.3.4
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
speechrecognition==3.10.4
gTTS==2.5.3
requests==2.32.2
beautifulsoup4==4.12.3

# Wymagana biblioteka do obsługi formularzy UploadFile w FastAPI
python-multipart

# Zestaw kwantowy
pennylane>=0.39.0
autoray==0.6.12
torch==2.5.1

# Ekosystem LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-groq
langchain-postgres
